/*
 * Main Styles
*/


body {
  /* background-color: #232323; */
  background: url('../img/background.jpg') no-repeat;
  background-size: contain;
}


/* CONTAINER */
.container {
  margin: 0 auto 10rem auto;

}

/* INFO */
.info {
  border-radius: .7rem;
  margin: 5rem 0;
}